#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.register-container {
  background-color: #2d040499;
  color: #dec1c1;
  box-shadow: 7px 7px 11px #c25c5c;
  font-size: 17px;
  font-weight: 400;
  opacity: 0.8;
  border-radius: 13px;
}

.register-container input::placeholder {
  color: #73777a !important;
  font-weight: 400 !important;
}

.register-container input {
  font-size: 20px !important;
  color: #4f3c3c !important;
  font-weight: 500 !important;
}

.register-container h1 {
  color: #af9191
}

.register-container button[type="submit"] {
  padding: 5px 50px;
  color: #084827;
  font-size: 22px;
  font-weight: 600;
  background-color: #9b7a88;
  transition: 0.3s ease-out;
}

.register-container button[type="submit"]:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 8px #8f5656;
  background-color: #411527 !important;
  color: #b8b1b1
}

.register-container button[type="button"] {
  background-color: transparent;
  top: 35px;
  right: 20px;
  font-size: 22px;
  font-weight: 600;
}